<!-- WP-994: native email compound; functional template contract unchanged. -->
            <div class="wb-field-group">
                <label><em>*</em> {tmpl_var name='email_txt'}</label>
                <div>
				    <div class='wb-field-composite'>
						<input type="text" id="email_local_part" name="email_local_part" value="{tmpl_var name='email_local_part'}" class="form-control" data-email-domain-sync="true" />
						<span class='wb-field-addon'>@</span>
                        <div class='wb-field-composite__control'>
							<select name="email_domain" id="email_domain" class="form-control wb-domain-select">{tmpl_var name='email_domain'}</select>
                        </div>
                    </div>
				</div>
            </div>
            <div class="wb-field-group">
                <label for="destination">{tmpl_var name='destination_txt'}</label>
                <div><select name="destination" id="destination" class="form-control">
                    {tmpl_var name='destination'}
                </select></div>
            </div>
            <div class="wb-field-group">
                <label>{tmpl_var name='send_as_txt'}</label>
                <div>
                    {tmpl_var name='allow_send_as'} <small> {tmpl_var name='send_as_exp'}</small>
                </div>
            </div>
            <div class="wb-field-group">
                <label>{tmpl_var name='greylisting_txt'}</label>
                <div>
                    {tmpl_var name='greylisting'}
                </div>
            </div>
            <div class="wb-field-group">
                <label>{tmpl_var name='active_txt'}</label>
                <div>
                    {tmpl_var name='active'}
                </div>
            </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="type" value="alias">

        <div class="wb-form-actions">
            <tmpl_if name='id'><tmpl_if name='show_delete_on_forms' op="==" value="y">
                <a class="formbutton-danger formbutton-narrow" href="#" data-confirm-action="mail/mail_alias_del.php?id={tmpl_var name='id'}&_csrf_id={tmpl_var name='_csrf_id'}&_csrf_key={tmpl_var name='_csrf_key'}&phpsessid={tmpl_var name='phpsessid'}" data-confirm-message="{tmpl_var name='delete_confirmation'}"><span class="icon icon-delete"></span></a>
            </tmpl_if></tmpl_if>
            <button class="formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mail_alias_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-workbench-load-content="mail/mail_alias_list.php" data-load-content="mail/mail_alias_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
