<!-- WP-956: native Workbench Getmail configuration form. -->
<header class="wb-form-heading">
    <h1><tmpl_var name="list_head_txt"></h1>
    <p><tmpl_var name="list_desc_txt"></p>
</header>
<fieldset id="wf_area_spamfilter_config" class="wb-form-panel">
    <div class="wb-field-group">
        <label for="getmail_config_dir">{tmpl_var name='getmail_config_dir_txt'}</label>
        <div><input class="form-control" type="text" id="getmail_config_dir" name="getmail_config_dir" value="{tmpl_var name='getmail_config_dir'}"></div>
    </div>
</fieldset>
<input type="hidden" name="id" value="{tmpl_var name='id'}">
<div class="wb-form-actions">
    <button class="formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
    <button class="formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-workbench-load-content="mail/spamfilter_config_list.php" data-load-content="mail/spamfilter_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
</div>
