<!-- WP-948: native Workbench website core surface; shared lifecycle unchanged. -->
<div class='page-header'>
	<h1><tmpl_if name='vhostdomain_type' op='==' value='domain'>{tmpl_var name="domain_list_head_txt"}</tmpl_if><tmpl_if name='vhostdomain_type' op='==' value='subdomain'>{tmpl_var name="subdomain_list_head_txt"}</tmpl_if><tmpl_if name='vhostdomain_type' op='==' value='aliasdomain'>{tmpl_var name="aliasdomain_list_head_txt"}</tmpl_if></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>
<section class="wb-table-workspace">
    <div class="wb-list-toolbar">
        <div class="wb-list-toolbar__context">
            <span class="wb-list-toolbar__eyebrow">{tmpl_var name="toolsarea_head_txt"}</span>
            <strong><tmpl_var name="list_head_txt"></strong>
        </div>
        <button class="formbutton-success" type="button" data-workbench-load-content="sites/web_vhost_domain_edit.php?type={tmpl_var name='vhostdomain_type'}" data-load-content="sites/web_vhost_domain_edit.php?type={tmpl_var name='vhostdomain_type'}"><tmpl_if name='vhostdomain_type' op='==' value='domain'>{tmpl_var name="add_new_record_txt"}</tmpl_if><tmpl_if name='vhostdomain_type' op='==' value='subdomain'>{tmpl_var name="add_new_subdomain_txt"}</tmpl_if><tmpl_if name='vhostdomain_type' op='==' value='aliasdomain'>{tmpl_var name="add_new_aliasdomain_txt"}</tmpl_if></button>
    </div>

<table class="table wb-data-table">
                <thead>
                <tr>
                    <tmpl_if name="vhostdomain_type" value="domain"><th class="wb-table-compact-column" data-column="domain_id"><tmpl_var name="domain_id_txt"></th></tmpl_if>
                    <th class="tiny-col" data-column="active"><tmpl_var name="active_txt"></th>
                    <th data-column="server_id"><tmpl_var name="server_id_txt"></th>
					<tmpl_if name="vhostdomain_type" op="!=" value="domain"><th data-column="parent_domain_id"><tmpl_var name="parent_domain_id_txt"></th></tmpl_if>
                    <th data-column="domain"><tmpl_if name='vhostdomain_type' op='==' value='domain'>{tmpl_var name="domain_txt"}</tmpl_if><tmpl_if name='vhostdomain_type' op='==' value='subdomain'>{tmpl_var name="subdomain_txt"}</tmpl_if><tmpl_if name='vhostdomain_type' op='==' value='aliasdomain'>{tmpl_var name="aliasdomain_txt"}</tmpl_if></th>
                    <th class="wb-table-actions-column wb-table-align-end">{tmpl_var name='search_limit'}</th>
                </tr>
                <tr>
                    <tmpl_if name="vhostdomain_type" value="domain"><td><input class="form-control" type="text" name="search_domain_id" value="{tmpl_var name='search_domain_id'}" /></td></tmpl_if>
                    <td><select class="form-control active-switch" name="search_active">{tmpl_var name='search_active'}</select></td>
                    <td><select class="form-control" name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
					<tmpl_if name="vhostdomain_type" op="!=" value="domain"><td><select class="form-control" name="search_parent_domain_id">{tmpl_var name='search_parent_domain_id'}</select></td></tmpl_if>
                    <td><input class="form-control" type="text" name="search_domain" value="{tmpl_var name='search_domain'}" /></td>
                    <td class="wb-table-align-end">
                        <button type="button" class="formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" data-submit-form="pageForm" data-form-action="sites/web_vhost_domain_list.php"><span class="icon icon-filter"></span></button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tmpl_loop name="records">
					<tr <tmpl_if name="warn_inactive"> class="danger" </tmpl_if> >
						<tmpl_if name="vhostdomain_type" value="domain"><td><a href="#" data-workbench-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}" data-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}">{tmpl_var name="domain_id"}</a></td></tmpl_if>
                        <td><a href="#" data-workbench-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}" data-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}">{tmpl_var name="active"}</a></td>
                        <td><a href="#" data-workbench-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}" data-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}" data-workbench-tooltip="true" data-workbench-tooltip-placement="bottom" title="{tmpl_var name='server_id'}">{tmpl_var name="server_id"}</a></td>
						<tmpl_if name="vhostdomain_type" op="!=" value="domain"><td><a href="#" data-workbench-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}" data-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}">{tmpl_var name="parent_domain_id"}</a></td></tmpl_if>
                        <td><a href="#" data-workbench-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}" data-load-content="sites/web_vhost_domain_edit.php?id={tmpl_var name='id'}&type={tmpl_var name='vhostdomain_type'}" data-workbench-tooltip="true" data-workbench-tooltip-placement="bottom" title="{tmpl_var name='domain'}">{tmpl_var name="domain"}</a></td>
                        <td class="wb-table-align-end">
							<a href="http://{tmpl_var name="domain"}" target="_blank" class="formbutton-default formbutton-narrow"><span class="icon icon-link"></span></a>
                            <a href="http://{tmpl_var name="domain"}/stats/" target="_blank" class="formbutton-default formbutton-narrow"<tmpl_if name='stats_type' op='==' value=''> disabled</tmpl_if>><span class="icon icon-signal"></span></a>
							<a class="formbutton-danger formbutton-narrow" href="#" data-confirm-action="sites/web_vhost_domain_del.php?id={tmpl_var name='id'}&_csrf_id={tmpl_var name='csrf_id'}&_csrf_key={tmpl_var name='csrf_key'}&phpsessid={tmpl_var name='phpsessid'}" data-confirm-message="{tmpl_var name='delete_confirmation'}"><span class="icon icon-delete"></span></a>
                        </td>
                    </tr>
                </tmpl_loop>
                <tmpl_unless name="records">
                    <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                        <td colspan="5">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                    </tr>
                </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</section>
