<!-- WP-947: native Workbench reporting/access surface; shared lifecycle unchanged. -->
            <div class="wb-field-group">
                <label for="web_folder_id">{tmpl_var name='web_folder_id_txt'}</label>
                <div class="wb-field-body"><select name="web_folder_id" id="web_folder_id" class="form-control">
                    {tmpl_var name='web_folder_id'}
                </select></div>
            </div>
            <div class="wb-field-group">
                <label for="username">{tmpl_var name='username_txt'}</label>
                <div class="wb-field-body"><input type="text" name="username" id="username" value="{tmpl_var name='username'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="password">{tmpl_var name='password_txt'}</label>
                <div class="wb-field-body">
				<div class="wb-field-composite">
					<input type="password" name="password" id="password" value="{tmpl_var name='password'}" class="form-control" autocomplete="off" data-workbench-password-check="password:repeat_password" data-workbench-password-strength="true" />
					<span class="wb-input-group-actions">
						<button class="wb-input-group-action" type="button" data-generate-password="true" data-password-field="password" data-repeat-password-field="repeat_password">{tmpl_var name='generate_password_txt'}</button>
					</span>
				</div>
				</div>
            </div>
            <div class="wb-field-group">
                <label>{tmpl_var name='password_strength_txt'}</label>
                <div class="wb-field-body">
                <div id="passBar"></div>
                <span id="passText">&nbsp;</span>
                </div>
            </div>
            <div class="wb-field-group">
                <label for="repeat_password">{tmpl_var name='repeat_password_txt'}</label>
                <div class="wb-field-body"><input type="password" name="repeat_password" id="repeat_password" value="" class="form-control" autocomplete="off" data-workbench-password-check="password:repeat_password" /></div></div>
            <div class="wb-field-group">
				<div class="wb-field-body">
					<div id="confirmpasswordError" hidden class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
					<div id="confirmpasswordOK" hidden class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
				</div>
			</div>
            <div class="wb-field-group">
                <label>{tmpl_var name='active_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='active'}
                </div>
            </div>


        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="wb-form-actions"><div class="wb-form-actions__primary">
            <button class="wb-input-group-action formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="sites/web_folder_user_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="wb-input-group-action formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-workbench-load-content="sites/web_folder_user_list.php" data-load-content="sites/web_folder_user_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>
