<!-- WP-961: native Workbench customer-template identity form. -->
<div class="wb-field-group">
    <label for="template_type">{tmpl_var name='template_type_txt'}</label>
    <div><select name="template_type" id="template_type" class="form-control">{tmpl_var name='template_type'}</select></div>
</div>
<div class="wb-field-group">
    <label for="template_name">{tmpl_var name='template_name_txt'}</label>
    <div><input type="text" name="template_name" id="template_name" value="{tmpl_var name='template_name'}" class="form-control" /></div>
</div>
<input type="hidden" name="id" value="{tmpl_var name='id'}">
<div class="wb-form-actions">
    <button class="formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="client/client_template_edit.php">{tmpl_var name='btn_save_txt'}</button>
    <button class="formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-workbench-load-content="client/client_template_list.php" data-load-content="client/client_template_list.php">{tmpl_var name='btn_cancel_txt'}</button>
</div>
