<!-- WP-965: native Workbench operations surface; controller contract unchanged. -->
            <div class="wb-field-group">
                <label for="dbname_prefix" >{tmpl_var name='dbname_prefix_txt'}</label>
                <div class="wb-field-body"><input type="text" name="dbname_prefix" id="dbname_prefix" value="{tmpl_var name='dbname_prefix'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="dbuser_prefix" >{tmpl_var name='dbuser_prefix_txt'}</label>
                <div class="wb-field-body"><input type="text" name="dbuser_prefix" id="dbuser_prefix" value="{tmpl_var name='dbuser_prefix'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="ftpuser_prefix" >{tmpl_var name='ftpuser_prefix_txt'}</label>
                <div class="wb-field-body"><input type="text" name="ftpuser_prefix" id="ftpuser_prefix" value="{tmpl_var name='ftpuser_prefix'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="shelluser_prefix" >{tmpl_var name='shelluser_prefix_txt'}</label>
                <div class="wb-field-body"><input type="text" name="shelluser_prefix" id="shelluser_prefix" value="{tmpl_var name='shelluser_prefix'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="webdavuser_prefix" >{tmpl_var name='webdavuser_prefix_txt'}</label>
                <div class="wb-field-body"><input type="text" name="webdavuser_prefix" id="webdavuser_prefix" value="{tmpl_var name='webdavuser_prefix'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label >{tmpl_var name='dblist_phpmyadmin_link_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='dblist_phpmyadmin_link'}
                </div>
            </div>
            <div class="wb-field-group">
                <label for="phpmyadmin_url" >{tmpl_var name='phpmyadmin_url_txt'}</label>
                <div class="wb-field-body wb-field-body--medium"><input type="text" name="phpmyadmin_url" id="phpmyadmin_url" value="{tmpl_var name='phpmyadmin_url'}" class="form-control" />&nbsp;{tmpl_var name='phpmyadmin_url_note_txt'}<a href="#" data-workbench-noop="true" class="addPlaceholder">[SERVERNAME]</a>, <a href="#" data-workbench-noop="true" class="addPlaceholder">[DATABASENAME]</a></div>
            </div>
            <div class="wb-field-group">
                <label for="phppgadmin_url" >{tmpl_var name='phppgadmin_url_txt'}</label>
                <div class="wb-field-body wb-field-body--medium"><input type="text" name="phppgadmin_url" id="phppgadmin_url" value="{tmpl_var name='phppgadmin_url'}" class="form-control" />&nbsp;{tmpl_var name='phppgadmin_url_note_txt'}<a href="#" data-workbench-noop="true" class="addPlaceholder">[SERVERNAME]</a>, <a href="#" data-workbench-noop="true" class="addPlaceholder">[DATABASENAME]</a></div>
            </div>
            <div class="wb-field-group">
                <label for="webftp_url" >{tmpl_var name='webftp_url_txt'}</label>
                <div class="wb-field-body"><input type="text" name="webftp_url" id="webftp_url" value="{tmpl_var name='webftp_url'}" class="form-control" /></div></div>
                <div class="wb-field-group">
                    <label >{tmpl_var name='client_protection_txt'}</label>
                    <div class="wb-field-body">
                        {tmpl_var name='client_protection'}
                    </div>
                </div>
            <div class="wb-field-group">
                <label >{tmpl_var name='vhost_subdomains_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='vhost_subdomains'}&nbsp;{tmpl_var name='vhost_subdomains_note_txt'}
                </div>
            </div>
            <div class="wb-field-group">
                <label >{tmpl_var name='vhost_aliasdomains_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='vhost_aliasdomains'}&nbsp;{tmpl_var name='vhost_aliasdomains_note_txt'}
                </div>
            </div>
            <div class="wb-field-group">
                <label >{tmpl_var name='client_username_web_check_disabled_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='client_username_web_check_disabled'}
                </div>
            </div>
            <div class="wb-field-group">
                <label >{tmpl_var name='backups_include_into_web_quota_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='backups_include_into_web_quota'}
                </div>
            </div>
            <div class="wb-field-group">
                <label >{tmpl_var name='reseller_can_use_options_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='reseller_can_use_options'}
                </div>
            </div>
			<div class="wb-field-group">
                    <label >{tmpl_var name='web_php_options_txt'}</label>
                    <div class="wb-field-body">
                        {tmpl_var name='web_php_options'}
                    </div>
                </div>
            <div class="wb-field-group">
                <label for="default_webserver" >{tmpl_var name='default_webserver_txt'}</label>
                <div class="wb-field-body"><select name="default_webserver" id="default_webserver" class="form-control">
                    {tmpl_var name='default_webserver'}
                </select></div>
            </div>
            <div class="wb-field-group">
                <label for="default_dbserver" >{tmpl_var name='default_dbserver_txt'}</label>
                <div class="wb-field-body"><select name="default_dbserver" id="default_dbserver" class="form-control">
                    {tmpl_var name='default_dbserver'}
                </select></div>
            </div>
            <div class="wb-field-group">
                <label >{tmpl_var name='disable_client_remote_dbserver_txt'}</label>
                <div class="wb-field-body">
                    {tmpl_var name='disable_client_remote_dbserver'}
                </div>
            </div>
            <div class="wb-field-group">
                <label for="default_remote_dbserver" >{tmpl_var name='default_remote_dbserver_txt'}</label>
                <div class="wb-field-body"><input type="text" name="default_remote_dbserver" id="default_remote_dbserver" value="{tmpl_var name='default_remote_dbserver'}" class="form-control" /></div>
	    </div>
        <div class="wb-field-group">
            <label for="ssh_authentication" >{tmpl_var name='ssh_authentication_txt'}</label>
            <div class="wb-field-body"><select name="ssh_authentication" id="ssh_authentication" class="form-control">
                {tmpl_var name='ssh_authentication'}
                </select>
            </div>
        </div>
        <div class="wb-field-group">
            <label >{tmpl_var name='le_caa_autocreate_options_txt'}</label>
            <div class="wb-field-body">
                {tmpl_var name='le_caa_autocreate_options'}
            </div>
        </div>
        <div class="wb-field-group">
            <label >{tmpl_var name='postgresql_database_txt'}</label>
            <div class="wb-field-body">
                {tmpl_var name='postgresql_database'}
            </div>
        </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="wb-form-actions"><div class="wb-form-actions__primary">
            <button class="formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/system_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-workbench-load-content="admin/users_list.php" data-load-content="admin/users_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>
