<!-- WP-940 Bootstrap-removal: native Workbench override; shared template unchanged. -->
            <div class="wb-field-group">
                <label for="name">{tmpl_var name='name_txt'}</label>
                <div><input type="text" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="target">{tmpl_var name='target_txt'}</label>
                <div><input type="text" name="target" id="target" value="{tmpl_var name='target'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="weight">{tmpl_var name='weight_txt'}</label>
                <div><input type="text" name="weight" id="weight" value="{tmpl_var name='weight'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="port">{tmpl_var name='port_txt'}</label>
                <div><input type="text" name="port" id="port" value="{tmpl_var name='port'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="aux">{tmpl_var name='aux_txt'}</label>
                <div><input type="text" name="aux" id="aux" value="{tmpl_var name='aux'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label for="ttl">{tmpl_var name='ttl_txt'}</label>
                <div><input type="text" name="ttl" id="ttl" value="{tmpl_var name='ttl'}" class="form-control" /></div></div>
            <div class="wb-field-group">
                <label>{tmpl_var name='active_txt'}</label>
                <div>
                    {tmpl_var name='active'}
                </div>
            </div>


        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="zone" value="{tmpl_var name='zone'}">
        <input type="hidden" name="type" value="{tmpl_var name='type'}">

        <div class="wb-form-actions">
	<button class="formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="dns/dns_srv_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-workbench-load-content="dns/dns_soa_edit.php?id={tmpl_var name='zone'}&next_tab=dns_records" data-load-content="dns/dns_soa_edit.php?id={tmpl_var name='zone'}&next_tab=dns_records">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
